In [ ]:
# key python concepts
## def and return 
# what is a functions?
# A Function is a reusable block of code that performs a specific tasks

In [1]:
# Syntax of a function
def function_name(parameters):
    return result

In [4]:
# Example
def greet(name):
     return f"hello, {name}"
print(greet("Jayasurya"))

hello, Jayasurya

In [5]:
def greetings(name,age):
    return f"hello,{name} and age{age}"
print(greetings("Jayasurya",25))

hello,Jayasurya and age25

In [8]:
# Example 2: Function with multiple Parameters
def add_numbers(a,b):
    return a * b
add_numbers(2,3)

6

In [9]:
# Example without parameters
def say_hello():
    print("Hello World")
say_hello()

Hello World

In [11]:
# functions without return values
def add(a,b):
    print("Addition of two numbers:", a + b)
add(2,4)

Addition of two numbers: 6

In [14]:
def intro(name,age):
    return f"My Name is {name} and I am {age} years old"

intro("Jayasurya",24)

'My Name is Jayasurya and I am 24 years old'

In [19]:
def add(a,b):
    print(a + b)

result = add(2,3)

print("Result is:",result)

5
Result is: None

In [20]:
# Important point to note: Notice that result is None - Because print() does'nt return a value, it just displays it
# return - > Sends the results back to the program
# It allows you to save,reuse, or process the value furthur
def add(a,b):
    return a + b
result = add(2,3)
print("Result is:",result)

Result is: 5

In [23]:
# 2 keyword parameters
# You can specify parameter name while calling the function - order doesn't matter

def describe_person(age,name):
    return f" My Name is {name} and I am {age} years old"
    
describe_person(age=25,name="Jayasurya")

' My Name is Jayasurya and I am 25 years old'

In [26]:
# 3 default parameters
def great(name="Friend"):
    print(f"Hello,{name}!")
great()
great("Surya")

Hello,Friend!
Hello,Surya!

In [27]:
# 4 Multiple Parameter Example

def student_info(name,course="Python",city="Banglore"):
    return f"{name} is learning {course} in {city}"

print(student_info("Jayasurya"))
print(student_info("Ananya","Data Science"))

Jayasurya is learning Python in Banglore
Ananya is learning Data Science in Banglore

In [28]:
def analyze_salary(role,salary,city):
    return f"A {role} in {city} earns around {salary} per month"

analyze_salary("Data Analyst",100000,"Bengaluru")

'A Data Analyst in Bengaluru earns around 100000 per month'

In [34]:
# Lesson 3: Variables-Length Arguments(*args & **kwargs)
# 1. Think of *args as a way to accept many values as a tuple

def add_numbers(*args):
    return sum(args)

print(add_numbers(2,3,434,3,232))
print(add_numbers(5,10,15,20,343))

# Uses_Cases: Data aggrgations,total scores, or summing numeric columns dynamically

674
393

In [36]:
# 2) **kwargs -> For multiple keyword arguments
# ** kwargs lets your function accept many named parameters( as a dictionary)

def show_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")
show_details(name="Jayasurya",role="AI Enginner",city="Banglore")


### Use Case: Flexible data passsing - like ML model parameters or config files

name: Jayasurya
role: AI Enginner
city: Banglore

In [37]:
# 3. Combine *args and **kwargs

def demo_function(*args, **kwargs):
    print("Positional args:",args)
    print("keywords parameters:",kwargs)

print(demo_function(1,2,3,2,3, name="Jayasurya",course="AI Engineering"))

Positional args: (1, 2, 3, 2, 3)
keywords parameters: {'name': 'Jayasurya', 'course': 'AI Engineering'}
None

In [40]:
# Task1 
# Create a function called student_report() that can take:
# -> Any number of marks (using *args)
# -> Any number of student details(using **kwargs)
# Then print average marks and details nearly.

def student_report(*args, **kwargs):
    print("marks",args)
    print("student details:",kwargs)

student_report(491,std_name="Jayasurya",std_ID="IAM49",city="Bengaluru")
print(student_report)

marks (491,)
student details: {'std_name': 'Jayasurya', 'std_ID': 'IAM49', 'city': 'Bengaluru'}
<function student_report at 0x000001A7975956C0>

In [52]:
def student_report(*args,**kwargs):
    for key,value in kwargs.items():
         print("Marks:",args)

         print("\nStudent Details:")
         for key,value in kwargs.items():
              print( f"{key}: {value}")
         # If marks exist, calculate average
         if args:
             avg = sum(args) / len(args)
             print(f"\nAverage Marks: {avg:.2f}")

             return 0


student_report(453,name="Jayasurya",ID="IAM123",City="Bengaluru")


## No return : Python gives default return value = None

Marks: (453,)

Student Details:
name: Jayasurya
ID: IAM123
City: Bengaluru

Average Marks: 453.00

0

In [ ]:
# Real World Data Engineering Tasks
''' You are a Data Engineer at a company,and you get server logs in a list of dictionaries
 format. Each dictionary represents a log entry:'''


count_actions = [
    {"user":"Alice","action":"login","timestamp":"2025-10-18 08:00"},
    {"user":"Surya","action":"login","timestamp":"2025-10-18 08:00"},
    {"user":"Ram","action":"login","timestamp":"2025-10-18 08:00"},
    {"user":"Charlie","action":"login","timestamp":"2025-10-18 08:00"}
]

''' 
1) Create a function that accepts logs as input and counts the number of actions per user.
and counts the number of actions per user.

2) Use *args to allow multiple lists of logs to be passed to the function.\

3) Use **kwargs to allow optional filter, e.g, only count certain actions(action="login").

''''

In [1]:
## Day 2 (19/10/2025): 

# What is a Nested functions?
# A nested function is a function defined inside another function. 
# It helps in encapsulation - Keeping helper logic private to the main function.

def outer_function():
    def inner_function():
        print("This is inside the inner function")
        print("This is inside the outer functions")
    inner_function()
outer_function()

This is inside the inner function
This is inside the outer functions

In [2]:
# 2) Why Nested Functions Matter in AI/ Data Engineering 
# They help organize code.
# For Example, you might define:
# an outer function for model training,
# an inner function for preprocessing or metrics calculation

In [5]:
def train_model(data):
    def preprocessing(data):
        cleaned = [x for x in data if x > -1] 
        return cleaned

    processed = preprocessing(data)
    print("training model with:", processed)
train_model([10,-2,5,0,8])

training model with: [10, 5, 0, 8]

In [8]:

def train_model(data):
    def preprocessed(data):
        clean = [x for x in data if x > 0]
        return clean
    Preprocess = preprocessed(data)
    print("Training Model with:", Preprocess)
train_model([1,-2,-4,5,634,23])

Training Model with: [1, 5, 634, 23]

### Concepts Scope: Local vs Global Variables

In [9]:
# Day 3:
## Local Variables -> Inside a function
### Global variables -> Outsidd the functions

In [15]:
x = 10 # global variables.

def demo1(x):
    
    print("Inside function:",x)
    
demo1(x)

x = 10 # global variables.

Inside function: 10

In [16]:
# Practice Task:
'''' 
1) Create a function called data_pipeline()
    Inside it:
    * Define a nested function clean_data()
    that removes None or negative values
    from a list
    * Then, print both raw and cleaned data.

2)Observe what happens if you try to call clean_data() outside of data_pipeline().
'''

"' \n1) Create a function called data_pipeline()\n    Inside it:\n    * Define a nested function clean_data()\n    that removes None or negative values\n    from a list\n    * Then, print both raw and cleaned data.\n\n2)Observe what happens if you try to call clean_data() outside of data_pipeline().\n"

In [21]:

def data_pipeline(data):
    print("Raw data:",data)
    
    def clean_data(data):
         return [ x for x in data if x > 0]
    
    cleaned_data =  clean_data(data)
    print("cleaned_data:",cleaned_data)
    return cleaned_data
    
cleaned = data_pipeline([23,-1,2,-3,4,0,45])
print("\nReturned cleaned data:",cleaned)

Raw data: [23, -1, 2, -3, 4, 0, 45]
cleaned_data: [23, 2, 4, 45]

Returned cleaned data: [23, 2, 4, 45]

### Lambda functions

In [22]:
### what is the lambda functions?
# A lambda function is a small,one-line function with no name.
# It's used when you need a quick function - not something you'll reuse many times.

In [23]:
## python Syntax:
# lambda arguments : expressions

In [24]:
square = lambda x : x ** 2
print(square(5))

# def square(x):
#     return x ** 2
# square(5)

25

In [29]:
 #  Example 2: Add two Numbers:
add = lambda a,b: a + b
print(add(1,2))

3

In [31]:
## Example 3: Conditional in Lambda 
check = lambda x: "Even" if x % 2 == 0 else "Odd"
print(check(5))

Odd

In [7]:
## Example 4: Conditional in lambda.
checkin = lambda x,y: "Even" if y % x == 0 else "Odd"
print(checkin(6,6))

Even

In [14]:
## Task 4:
## Scenario: You are a Data Engineer/ Data Analyst working with a list of transactions amounts. 
## you need to filter only the high-value transactions(say, $10000).
transactions = [4500,12000,8000,25000,9500,18000,6000]
# use lambda with filter() to get only high-value transactions
high_value = list(filter(lambda amount: amount > 10000, transactions))

print("High-value transactions (above $10000)", high_value)

High-value transactions (above $10000) [12000, 25000, 18000]

## Map() and Filter() Functions.
### Purpose: Apply a function to every element in a list, tuple or iterable.

Syntax: map(function, iterable)

In [13]:
# Real world Data Engineer use Case:
## Transforming raw data while loading into a pipeline.
## Example: Converting salaries to another currency,cleaning,standardizing formats.

salaries_usd = [5000,60000,70000,80000]

# Convert to INR (1 USD = 83 INR)
salaries_inr = list(map(lambda x: x * 83, salaries_usd))
print(salaries_inr)

[415000, 4980000, 5810000, 6640000]

In [15]:
## Filter() function
### Purpose: Select element from a list that satisfy a condition.
### Filter(function, iterable)

In [16]:
## Real - world usecases 
## Filtering rows in a dataset before further processing.
## Example: Extract high-value transactions or active users.

In [17]:
# Filter salaries greater then 50,00000 INR.
high_salaries = list(filter(lambda x: x > 5000000, salaries_inr))
print(high_salaries)

[5810000, 6640000]

In [22]:
# Combined Usecases(map + filter)
# Apply 10% bonus and filter salaries above 6 million INR.

bonus_salaries = list(map(lambda x: x*1., salaries_inr))
high_bonus_salaries = list(filter(lambda x : x > 6000000, bonus_salaries))
print(high_bonus_salaries)

[6681499.999999999, 7635999.999999999]

In [33]:
## Interview oriented practice Tasks,
# Task1: Clean Data using map():
'''
Scenario (Real-world Data Engineer use Case():
Imagine you've received raw customer names from a csv file. 
They have extra spaces because of poor data entry - before loading into your database, 
you must clean them.
'''
names = [" Alice "," Bob", "Charlie"]
clean_names = list(map(lambda x: x.upper().strip(), names))
print(clean_names)

['ALICE', 'BOB', 'CHARLIE']

In [27]:
# Task 2: Filter Data.
import numpy as np
ages = [21,18,25,16,30]
minor_data = list(filter(lambda x : x >= 18, ages))
print("Listed peoples are major guys:",minor_data)

Listed peoples are major guys: [21, 18, 25, 30]

In [29]:
# Task 3: Transform & Filter.
# Given sales data in USD, convert to INR and keep sales > 5,000,000 INR
sales_usd = [40000, 60000, 70000]
usd_dollars = list(map(lambda x : x * 83, sales_usd))
print("The Currency converted into USD to INR",usd_dollars)

The Currency converted into USD to INR [3320000, 4980000, 5810000]

In [36]:
## Task 4: (Optional for challenges): Extract emails
email = ["a@gmail.com","b@yahoo.com","c@gmail.com"]
gmail_com = list(filter(lambda email: email.endswith("@gmail.com"), email))
print(gmail_com)

['a@gmail.com', 'c@gmail.com']

In [38]:
# Task 4:

# You have a list of product names like [" Apple ", "Mango ", " Banana"].
## Clean all names using map(), convert them to lowercase, and filter only those starting with the letter 'a'.

# Step 1: Clean spaces and convert to lowercase.
products = [" Apple ","Mango ", "Banana"]
cleaned_products = list(map(lambda p: p.strip().lower(), products))

# Step 2: Filter products starting with 'a'.
products_starting_with_a = list(filter(lambda p: p.startswith("a"),clean_products))
print("The Letters with starting letter a:",starting_a)

The Letters with starting letter a: ['apple']

In [40]:
# Combine into a pipeline (bonus pattern)

products = [" Apple ","Mango "," Banana"]
starting_a = list(
    filter(
        lambda x: x.startswith('a'),
        map(lambda x: x.strip().lower(), products)
    )
)
print(starting_a)

['apple']

In [42]:
# Tasks 5: Filter all the products starting with either 'a' or 'b'.

starting_a_b = list(filter(lambda x: x.startswith(('a','b')),cleaned_products))
print(starting_a_b)

['apple', 'banana']

In [45]:
# Scenario based real world Data Enginnering Challenges:

## Your client gives you raw customer transactions data( from a CSV extract).
## you must clean, transform and filter, it before loading to your data warehouse.

# Raw Dataset:
transactions = [
    {"customer":"Alice","amount":"5000","status":"SUCCESS"},
    {"customer":"Bob","amount":"25000","status":"SUCCESS"},
    {"customer":"Ram","amount":"17000","status":"Failed"},
    {"customer":"Jai","amount":"16000","status":"SUCCESS"},
       {"customer":"Surya","amount":"18000","status":"Failed"}
]

# Step 2: Data Cleaning & Transformation 
cleaned_transactions = list(map(
       lambda record: { 
           "customer": 
record["customer"].strip(),
           "amount":
int(record["amount"].strip()) if
record["amount"].strip().isdigit() else 0,
           "status":
record["status"].strip()
       },
    transactions
))

## step 3: Filter only the Successful transactions
successful_transactions = list(filter( lambda record: record["status"] == "SUCCESS",cleaned_transactions))

# step 4: Filter high-value transactions (Analytics Filter)

high_value_transactions = list(filter( lambda record: record["amount"] > 4000, successful_transactions))

## step 5: Load / output Results (Load)
print("Cleaned Transactions:")
for txn in cleaned_transactions:
    print(txn)
print("\n Successful Transactions:")
for txn in successful_transactions:
    print(txn)
print("\n high value customers:")
for txn in high_value_transactions:
    print(txn)

Cleaned Transactions:
{'customer': 'Alice', 'amount': 5000, 'status': 'SUCCESS'}
{'customer': 'Bob', 'amount': 25000, 'status': 'SUCCESS'}
{'customer': 'Ram', 'amount': 17000, 'status': 'Failed'}
{'customer': 'Jai', 'amount': 16000, 'status': 'SUCCESS'}
{'customer': 'Surya', 'amount': 18000, 'status': 'Failed'}

 Successful Transactions:
{'customer': 'Alice', 'amount': 5000, 'status': 'SUCCESS'}
{'customer': 'Bob', 'amount': 25000, 'status': 'SUCCESS'}
{'customer': 'Jai', 'amount': 16000, 'status': 'SUCCESS'}

 high value customers:
{'customer': 'Alice', 'amount': 5000, 'status': 'SUCCESS'}
{'customer': 'Bob', 'amount': 25000, 'status': 'SUCCESS'}
{'customer': 'Jai', 'amount': 16000, 'status': 'SUCCESS'}